{
  "openapi": "3.1.0",
  "info": {
    "title": "remo-code hub",
    "version": "0.1.0",
    "description": "REST API for the remo-code hub. Routes are migrated to the OpenAPI surface incrementally; currently covers `/api/profile/cost-today` and `/api/profile/license`. The rest of the hub is plain Hono."
  },
  "servers": [
    {
      "url": "https://app.remo-code.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3040",
      "description": "Local dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/profile/cost-today": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "Today's spend + daily cost cap",
        "description": "Returns the authenticated user's real accumulated token spend so far today (the same figure the daily cost cap enforces — interactive, Telegram, webhook and scheduled-run turns), their configured daily cap, and percent consumed. Used by the cost-cap UI banner.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cost snapshot for the current calendar day in the user's timezone",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cost_usd": {
                      "type": "number"
                    },
                    "cap_usd": {
                      "type": "number"
                    },
                    "percent": {
                      "type": "number"
                    },
                    "timezone": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "cost_usd",
                    "cap_usd",
                    "percent",
                    "timezone"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/license": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "License status for the authenticated user",
        "description": "Returns the user's current license status (mirrored from Titanium Licensing), license id, and the timestamp of the last sync. Used by the web UI's license badge. Auth-gated; NOT license-gated — needed even when the license is expired so the user can see why.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "License snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "expired",
                        "suspended",
                        "banned",
                        "none",
                        "unknown"
                      ]
                    },
                    "license_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "checked_at": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "license_id",
                    "checked_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/pending-prompts": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List local folders awaiting GitHub classification",
        "description": "Returns folders the user's agent/supervisor has reported as not-yet-on-GitHub (or not a git repo at all) and that the user has NOT dismissed. Drives the 'Needs attention' section of the sidebar. See Phase 08 ARCHITECTURE §6.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Pending local repos for the authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hostname": {
                            "type": "string"
                          },
                          "project_dir": {
                            "type": "string"
                          },
                          "is_git_repo": {
                            "type": "boolean"
                          },
                          "first_seen_at": {
                            "type": "string"
                          },
                          "last_seen_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "hostname",
                          "project_dir",
                          "is_git_repo",
                          "first_seen_at",
                          "last_seen_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "pending"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/dismiss-local": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Dismiss a pending local folder",
        "description": "Records a user dismissal for `(hostname, project_dir)` and removes the row from `pending_local_repos`. Idempotent — repeated calls return 200 without duplicating dismissals.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hostname": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "project_dir": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "hostname",
                  "project_dir"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dismissed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dismissed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "dismissed"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/repo-groups": {
      "get": {
        "summary": "List the user's repo groups with members",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sort_order": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "repo_ident": {
                                  "type": "string",
                                  "description": "github://owner/repo or path://<abs>",
                                  "example": "github://acme/app"
                                },
                                "created_at": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "repo_ident",
                                "created_at"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "sort_order",
                          "created_at",
                          "updated_at",
                          "members"
                        ]
                      }
                    }
                  },
                  "required": [
                    "groups"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a repo group",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "sort_order": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "sort_order",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Group name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/repo-groups/reorder": {
      "put": {
        "summary": "Bulk-reorder groups by id",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ordered_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "required": [
                  "ordered_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Reordered"
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/repo-groups/{id}": {
      "patch": {
        "summary": "Rename and/or reorder a group",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "sort_order": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "sort_order": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "sort_order",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Group name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a group (members cascade)",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/repo-groups/{id}/members": {
      "post": {
        "summary": "Add a repo to a group (idempotent)",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repo_ident": {
                    "type": "string",
                    "description": "github://owner/repo or path://<abs>",
                    "example": "github://acme/app"
                  }
                },
                "required": [
                  "repo_ident"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Added"
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Replace a group's full member set",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repo_idents": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "github://owner/repo or path://<abs>",
                      "example": "github://acme/app"
                    }
                  }
                },
                "required": [
                  "repo_idents"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Replaced"
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/repo-groups/{id}/members/{repo_ident}": {
      "delete": {
        "summary": "Remove a repo from a group (repo_ident URL-encoded)",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "repo_ident",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/repo-groups/collapse-state": {
      "get": {
        "summary": "Get per-user collapsed group-section ids",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Collapse state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collapsed_group_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "collapsed_group_ids"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Replace per-user collapsed group-section ids",
        "tags": [
          "repo-groups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collapsed_group_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "collapsed_group_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collapse state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collapsed_group_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "collapsed_group_ids"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/orchestrator-tasks/{sessionId}": {
      "get": {
        "summary": "Get a session's orchestrator task + its rows (task null if none)",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "sessionId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Task + rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "lifecycle_stage": {
                          "type": "string",
                          "enum": [
                            "development",
                            "beta",
                            "production-maintenance"
                          ]
                        },
                        "macro_task_type": {
                          "type": "string",
                          "enum": [
                            "dev",
                            "maintenance",
                            "security",
                            "brainstorming"
                          ]
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "user_id",
                        "session_id",
                        "name",
                        "lifecycle_stage",
                        "macro_task_type",
                        "enabled",
                        "created_at",
                        "updated_at"
                      ]
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "string"
                          },
                          "command": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "schedule_rule": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "interval": {
                                "type": "integer"
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "minutes",
                                  "hours",
                                  "days",
                                  "weeks",
                                  "months"
                                ]
                              },
                              "start_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "interval",
                              "unit",
                              "start_at"
                            ]
                          },
                          "frequency_label": {
                            "type": "string",
                            "nullable": true
                          },
                          "micro_prompt": {
                            "type": "string",
                            "nullable": true
                          },
                          "sort_order": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "task_id",
                          "command",
                          "enabled",
                          "schedule_rule",
                          "frequency_label",
                          "micro_prompt",
                          "sort_order",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "task",
                    "rows"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create the one orchestrator task for a session",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "sessionId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifecycle_stage": {
                    "type": "string",
                    "enum": [
                      "development",
                      "beta",
                      "production-maintenance"
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "macro_task_type": {
                    "type": "string",
                    "enum": [
                      "dev",
                      "maintenance",
                      "security",
                      "brainstorming"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "lifecycle_stage": {
                          "type": "string",
                          "enum": [
                            "development",
                            "beta",
                            "production-maintenance"
                          ]
                        },
                        "macro_task_type": {
                          "type": "string",
                          "enum": [
                            "dev",
                            "maintenance",
                            "security",
                            "brainstorming"
                          ]
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "user_id",
                        "session_id",
                        "name",
                        "lifecycle_stage",
                        "macro_task_type",
                        "enabled",
                        "created_at",
                        "updated_at"
                      ]
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "string"
                          },
                          "command": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "schedule_rule": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "interval": {
                                "type": "integer"
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "minutes",
                                  "hours",
                                  "days",
                                  "weeks",
                                  "months"
                                ]
                              },
                              "start_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "interval",
                              "unit",
                              "start_at"
                            ]
                          },
                          "frequency_label": {
                            "type": "string",
                            "nullable": true
                          },
                          "micro_prompt": {
                            "type": "string",
                            "nullable": true
                          },
                          "sort_order": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "task_id",
                          "command",
                          "enabled",
                          "schedule_rule",
                          "frequency_label",
                          "micro_prompt",
                          "sort_order",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "task",
                    "rows"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Session already has an orchestrator task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/orchestrator-tasks/{taskId}": {
      "patch": {
        "summary": "Update the task's lifecycle stage and/or macro task type",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifecycle_stage": {
                    "type": "string",
                    "enum": [
                      "development",
                      "beta",
                      "production-maintenance"
                    ]
                  },
                  "macro_task_type": {
                    "type": "string",
                    "enum": [
                      "dev",
                      "maintenance",
                      "security",
                      "brainstorming"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "lifecycle_stage": {
                          "type": "string",
                          "enum": [
                            "development",
                            "beta",
                            "production-maintenance"
                          ]
                        },
                        "macro_task_type": {
                          "type": "string",
                          "enum": [
                            "dev",
                            "maintenance",
                            "security",
                            "brainstorming"
                          ]
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "user_id",
                        "session_id",
                        "name",
                        "lifecycle_stage",
                        "macro_task_type",
                        "enabled",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/orchestrator-tasks/{taskId}/apply-preset": {
      "post": {
        "summary": "Apply a lifecycle-stage frequency preset to the rows",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stage": {
                    "type": "string",
                    "enum": [
                      "development",
                      "beta",
                      "production-maintenance"
                    ]
                  },
                  "overwrite": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preset applied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "nullable": true
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "string"
                          },
                          "command": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "schedule_rule": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "interval": {
                                "type": "integer"
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "minutes",
                                  "hours",
                                  "days",
                                  "weeks",
                                  "months"
                                ]
                              },
                              "start_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "interval",
                              "unit",
                              "start_at"
                            ]
                          },
                          "frequency_label": {
                            "type": "string",
                            "nullable": true
                          },
                          "micro_prompt": {
                            "type": "string",
                            "nullable": true
                          },
                          "sort_order": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "task_id",
                          "command",
                          "enabled",
                          "schedule_rule",
                          "frequency_label",
                          "micro_prompt",
                          "sort_order",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/orchestrator-tasks/{taskId}/rows": {
      "post": {
        "summary": "Add a command row or a micro-prompt row",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string"
                  },
                  "micro_prompt": {
                    "type": "string"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "frequency_label": {
                    "type": "string"
                  },
                  "schedule_rule": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "interval": {
                        "type": "integer"
                      },
                      "unit": {
                        "type": "string",
                        "enum": [
                          "minutes",
                          "hours",
                          "days",
                          "weeks",
                          "months"
                        ]
                      },
                      "start_at": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "interval",
                      "unit",
                      "start_at"
                    ]
                  },
                  "sort_order": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "row": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "string"
                        },
                        "command": {
                          "type": "string"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "schedule_rule": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "interval": {
                              "type": "integer"
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "minutes",
                                "hours",
                                "days",
                                "weeks",
                                "months"
                              ]
                            },
                            "start_at": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "interval",
                            "unit",
                            "start_at"
                          ]
                        },
                        "frequency_label": {
                          "type": "string",
                          "nullable": true
                        },
                        "micro_prompt": {
                          "type": "string",
                          "nullable": true
                        },
                        "sort_order": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "task_id",
                        "command",
                        "enabled",
                        "schedule_rule",
                        "frequency_label",
                        "micro_prompt",
                        "sort_order",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "row"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/orchestrator-tasks/rows/{rowId}": {
      "patch": {
        "summary": "Update a row (enabled / frequency / schedule_rule / micro_prompt / sort_order)",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "rowId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "frequency_label": {
                    "type": "string",
                    "nullable": true
                  },
                  "micro_prompt": {
                    "type": "string",
                    "nullable": true
                  },
                  "schedule_rule": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "interval": {
                        "type": "integer"
                      },
                      "unit": {
                        "type": "string",
                        "enum": [
                          "minutes",
                          "hours",
                          "days",
                          "weeks",
                          "months"
                        ]
                      },
                      "start_at": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "interval",
                      "unit",
                      "start_at"
                    ]
                  },
                  "sort_order": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "row": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "string"
                        },
                        "command": {
                          "type": "string"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "schedule_rule": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "interval": {
                              "type": "integer"
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "minutes",
                                "hours",
                                "days",
                                "weeks",
                                "months"
                              ]
                            },
                            "start_at": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "interval",
                            "unit",
                            "start_at"
                          ]
                        },
                        "frequency_label": {
                          "type": "string",
                          "nullable": true
                        },
                        "micro_prompt": {
                          "type": "string",
                          "nullable": true
                        },
                        "sort_order": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "task_id",
                        "command",
                        "enabled",
                        "schedule_rule",
                        "frequency_label",
                        "micro_prompt",
                        "sort_order",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "row"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Row not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a row",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "rowId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Row not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/orchestrator-tasks/{taskId}/rows/reorder": {
      "post": {
        "summary": "Bulk-reorder a task's rows by id",
        "tags": [
          "orchestrator-tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ordered_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "ordered_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reordered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "string"
                          },
                          "command": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "schedule_rule": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "interval": {
                                "type": "integer"
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "minutes",
                                  "hours",
                                  "days",
                                  "weeks",
                                  "months"
                                ]
                              },
                              "start_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "interval",
                              "unit",
                              "start_at"
                            ]
                          },
                          "frequency_label": {
                            "type": "string",
                            "nullable": true
                          },
                          "micro_prompt": {
                            "type": "string",
                            "nullable": true
                          },
                          "sort_order": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "task_id",
                          "command",
                          "enabled",
                          "schedule_rule",
                          "frequency_label",
                          "micro_prompt",
                          "sort_order",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/tasks/templates": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Predefined GSD scheduled-task templates",
        "description": "Returns the static, read-only catalog of GSD task templates (Run dev, Audit, Review PRs, Plan). A template pre-fills a normal scheduled-task CREATE — it is sugar over the existing payload (no new table). Each carries an injected GSD slash prompt, default cadence, guardrails (non-bypassable cost cap, plan-first), and default post-run actions.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "GSD template catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "templates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "enum": [
                              "gsd_run",
                              "gsd_audit",
                              "gsd_review",
                              "gsd_plan"
                            ]
                          },
                          "label": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "promptTemplate": {
                            "type": "string"
                          },
                          "taskType": {
                            "type": "string",
                            "enum": [
                              "dev"
                            ]
                          },
                          "defaultCron": {
                            "type": "string"
                          },
                          "cadenceLabel": {
                            "type": "string"
                          },
                          "requiredInputs": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "target_session",
                                "cadence"
                              ]
                            }
                          },
                          "guardrails": {
                            "type": "object",
                            "properties": {
                              "planFirst": {
                                "type": "boolean"
                              },
                              "autoMerge": {
                                "type": "boolean"
                              },
                              "inheritCostCap": {
                                "type": "boolean",
                                "enum": [
                                  true
                                ]
                              }
                            },
                            "required": [
                              "planFirst",
                              "autoMerge",
                              "inheritCostCap"
                            ]
                          },
                          "defaultPostRunActions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "notify_telegram",
                                    "github_issue"
                                  ]
                                },
                                "on": {
                                  "type": "string",
                                  "enum": [
                                    "success",
                                    "failure",
                                    "always"
                                  ]
                                },
                                "config": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "nullable": true
                                  }
                                }
                              },
                              "required": [
                                "type",
                                "on",
                                "config"
                              ]
                            }
                          },
                          "category": {
                            "type": "string",
                            "enum": [
                              "gsd"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "label",
                          "description",
                          "promptTemplate",
                          "taskType",
                          "defaultCron",
                          "cadenceLabel",
                          "requiredInputs",
                          "guardrails",
                          "defaultPostRunActions",
                          "category"
                        ]
                      }
                    }
                  },
                  "required": [
                    "templates"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
