{
  "openapi": "3.1.0",
  "info": {
    "title": "remo-code hub",
    "version": "0.1.0",
    "description": "REST API for the remo-code hub. Routes are migrated to the OpenAPI surface incrementally; currently covers `/api/profile/cost-today` and `/api/profile/license`. The rest of the hub is plain Hono."
  },
  "servers": [
    {
      "url": "https://app.remo-code.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3040",
      "description": "Local dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/profile/cost-today": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "Today's spend + daily cost cap",
        "description": "Returns the authenticated user's scheduled-task spend so far today, their configured daily cap, and percent consumed. Used by the cost-cap UI banner.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cost snapshot for the current calendar day in the user's timezone",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cost_usd": {
                      "type": "number"
                    },
                    "cap_usd": {
                      "type": "number"
                    },
                    "percent": {
                      "type": "number"
                    },
                    "timezone": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "cost_usd",
                    "cap_usd",
                    "percent",
                    "timezone"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/license": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "License status for the authenticated user",
        "description": "Returns the user's current license status (mirrored from Titanium Licensing), license id, and the timestamp of the last sync. Used by the web UI's license badge. Auth-gated; NOT license-gated — needed even when the license is expired so the user can see why.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "License snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "expired",
                        "suspended",
                        "banned",
                        "none",
                        "unknown"
                      ]
                    },
                    "license_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "checked_at": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "license_id",
                    "checked_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
